.footer hr {
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px solid rgb(99, 99, 99);
}

.footer footer {
  display: flex;
  flex-direction: column;
  padding: 0 50px 20px;
}

.footer footer p {
  font-weight: 200;
  font-size: 0.75rem;
  color: #cacaca;
  letter-spacing: 0.16px;
  line-height: 19px;
  max-width: 60%;
  margin: 30px 0 47px;
}

.footer footer a p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  color: #ceaf70;
  letter-spacing: 2.29px;
  margin-bottom: 0;
}

.footer footer div {
  display: flex;
  justify-content: flex-start;
}

.footer footer div p {
  font-weight: 200;
  font-size: 0.7rem;
  color: #ceaf70;
  letter-spacing: 2.29px;
  margin-top: 0;
}

.footer footer .lowerLinks {
  display: flex;
  justify-content: space-between;
}

.footer footer .lowerLinks a p {
  font-weight: 600;
  font-size: 0.7rem;
  color: #ceaf70;
  letter-spacing: 2.29px;
  margin-top: 0;
  white-space: nowrap;
}

.footer footer .logos {
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer footer .asia {
  width: 73px;
  max-width: 100%;
  margin-right: 30px;
}

.footer footer .magnum {
  width: 85px;
  max-width: 100%;
}

@media (max-width: 1025px){
  footer {
    height: 425px;
    display: flex;
  }

  footer > p {
    order: 3;
  }

  footer > a {
    margin-top: 95px;
  }

  
  footer p {
    margin: 0;
    text-align: center;
  }

  footer .lowerLinks {
    position: relative;
  }

  footer .lowerLinks .logos {
    position: absolute;
    bottom: 150px;
    width: 180px;
    left: 50%;
    transform: translateX(-50%);
  }

  footer .lowerLinks > a {
    position: absolute;
    transform: translateX(-50%);
    bottom: -145px;
  }

  footer > div {
    margin: 0 auto;
    flex-direction: column;
  }

  footer > div p {
    order: 1;
  }

  footer > div > p {
    margin-bottom: 10px;
  }

  footer > div p:nth-child(2) {
    display: none;
  }

  .footer footer p {
    max-width: unset;
  }

  .footer footer > p {
    margin-top: 10px;
    width: 95%;
  }
}

@media (max-width: 765px){
  footer {
    height: 500px;
  }

  footer .lowerLinks > a {
    bottom: -225px;
  }
}