.home {
  display: flex;
  flex-direction: column;
}

.home .banner {
  background-image: url("../assets/images/home/banner.jpg");
  transition: .3s ease;
}

.home h1 {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  margin-left: 50px;
  color: #fff;
}

.home h1 span:first-child {
  font-size: 1rem;
  transition: 0.8s ease;
  letter-spacing: 3px;
}

.home h1 span:last-child {
  font-size: 5rem;
  font-weight: 100;
}

.home .life {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.home .life h3 {
  margin: 90px auto 40px;
  font-size: 0.9rem;
  letter-spacing: 4.69px;
  color: #ceaf70;
}

.home .life .slideText {
  width: 363px;
  height: 190px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 135px;
}

.home .life .slideText h6 {
  font-size: 8rem;
  font-weight: 100;
  color: #fff;
  margin: 0 23px;
}

.home .content-1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
  padding-bottom: 115px;
  margin-right: auto;
  margin-left: auto;
}

.home .content-1 img {
  max-width: 650px;
  width: 100%;
  margin-right: 43px;
}

.home .content-1 > a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 120px;
  margin-left: 5%;
}

.home .content-1 h2 {
  text-transform: uppercase;
}

.home .content-1 h2 {
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 4.69px;
}

.home .content-1 .watch {
  position: relative;
  color: #ceaf70;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 2.29px;
  margin-top: 40px;
  cursor: pointer;
}

.home .content-1 .watch::before {
  content: "";
  position: absolute;
  height: 0;
  width: 1px;
  left: -31px;
  top: 50%;
  transition: 0.3s ease;
  background: #ceaf70;
  transform: translateY(-50%);
  box-sizing: inherit;
}

.home .content-1 .watch::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 288px;
  left: -319px;
  top: 50%;
  transition: 0.3s ease;
  background: #ceaf70;
  transform-origin: right center;
  transform: scaleX(0);
  box-sizing: inherit;
}

.home .content-2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 90px;
  }
  
  .home .content-2 img {
    max-width: 750px;
    height: auto;
    margin-right: 80px;
  }
  
  .home .content-2 div a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.home .content-2 div a h2 {
    font-size: 0.9rem;
    letter-spacing: 4.69px;
    color: #fff;
}

.home .content-2 div a span {
    font-size: 4.5rem;
    font-weight: 100;
    letter-spacing: 1.36px;
    color: #fff;
}

.home .content-2 div a div {
    margin-top: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 2.29px;
    color: #ceaf70;
}

.home .content-2 div a img {
    width: 363px;
    height: auto;
    margin-top: 50px;
}

.home .content-2 div a span:last-child {
    position: absolute;
    bottom: 20px;
    color: #ceaf70;
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: 2.29px;
    z-index: 90;
}

.home .content-3 {
  margin-top: 120px;
}

.home .content-3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.home .content-3 img {
    max-width: 465px;
    margin-left: 100px;
}

.home .content-3 h2 {
    color: #fff;
    text-align: center;
}

.home .content-3 h2 span:first-child{
    font-size: 0.9rem;
    letter-spacing: 4.69px;
}

.home .content-3 h2 span:last-child{
    font-size: 4.3rem;
    font-weight: 100;
    letter-spacing: 1.36px;
}

.home .content-3 div div {
    margin-top: 50px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 2.29px;
    color: #ceaf70;
}

.home .content-4 a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.home .content-4 img {
    max-width: 494px;
    margin-right: 100px;
}

.home .content-4 h2 {
    color: #fff;
    text-align: center;
}

.home .content-4 h2 span:first-child{
    font-size: 0.9rem;
    letter-spacing: 4.69px;
}

.home .content-4 h2 span:last-child{
    font-size: 4.3rem;
    font-weight: 100;
    letter-spacing: 1.36px;
}

.home .content-4 div div {
    margin-top: 50px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 2.29px;
    color: #ceaf70;
}

.home .content-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 120px;
}

.home .content-5 img {
    max-width: 494px;
}

.home .content-5 h2 {
    color: #fff;
    text-align: center;
}

.home .content-5 h2 span:first-child{
    font-size: 0.9rem;
    letter-spacing: 4.69px;
}

.home .content-5 h2 span:last-child{
    font-size: 4.3rem;
    font-weight: 100;
    letter-spacing: 1.36px;
}

.home .content-5 a{
    margin: 0 auto;
}

.home .content-5 div .meet {
    margin-top: 50px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 2.29px;
    color: #ceaf70;
}

.home .content-5 .slick-initialized {
    width: 70vw;
}

.home .slick-list {
    height: 500px;
    margin: 0;
}

.home .slick-slider img{
    max-width: 750px;
    width: auto;
    height: 500px;
    margin: 0 15px;
}

.home .slick-next{
    position: absolute;
    right: 20px;
    z-index: 50;
}